<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\data\TournamentTracker"/>
		<add key="senderEmail" value="TournamentTracker@gmail.com"/>
		<add key="senderDisplayName" value="Tournament Tracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments"	connectionString="Server=LAPTOP-4VHLAV8G;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!--<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Tournament" password="testpassword" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>-->
</configuration>